<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        @font-face {
            font-family: "Rose Cake";
            src: url(/static/Rose\ Cake\ -\ Personal\ Use.otf);
        }
        @font-face {
            font-family: "Bebas Neue";
            src: url(/static/BebasNeue-Regular.otf);
        }
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .logo {
            font-family: Rose Cake;
        }
        a:hover {
            text-decoration: none;
        }
    </style>

    <title>Ransom | Cooking Kuyy | Resep Masakan</title>
  </head>
  <body>
    <div id="header" style="background-image: url(/static/Background.jpg); background-size: cover; height: 600px;">
        <div class="container-sm">
            <div class="nav" style="padding-top: 7px;">
                <i class="fas fa-concierge-bell" style="font-size: 30px; margin: 5px 5px 0px 23px;"></i>
                <h4 class="logo" style="font-weight: bold; font-style: italic; margin-right: 575px; margin-top: 5px;">Cooking kuyy!</h4>
                <a class="nav-link text-dark" href="http://127.0.0.1:5000/" style="font-weight: bold; margin-right: 30px;">BERANDA</a>
                <a class="nav-link text-dark" href="http://127.0.0.1:5000/tentang" style="font-weight: bold; margin-right: 30px;">TENTANG</a>
                <a class="nav-link text-dark" href="http://127.0.0.1:5000/kontak" style="font-weight: bold;">KONTAK</a>
            </div>
            <div>
                <h2 style="font-weight: bold; font-size: 55px; text-align: center; margin-top: 115px;">Resep Daging Sapi</h2>
                <img src="/static/daging-sapi.png" height="250px" style="margin-left: 379px; margin-top: 35px;">
                <br>
                <a href="#content">
                    <img src="/static/scroll down.png" height="50px" style="float: right; margin-top: -30px;">
                </a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container-sm mt-5 mb-5">
            <h4 class="text-center font-weight-bold">Resep makanan yang terbuat dari daging sapi:</h4>
            <div class="row" style="height: 300px; width: 1050px; margin: auto;">
                <div class="col" style="width: 30%; height: 1212px; background-color: rgba(255, 216, 125, 0.3); margin-right: 15px; margin-top: 40px; border-radius: 25px; margin-bottom: 100px;">
                    <div style="height: 210px; background-color: rgba(255, 216, 125, 0.7); border-radius: 25px; margin-left: -15px; margin-right: -15px;">
                        <img src="/static/masakan/semurdagingkecapp.png" height="190px" style="margin-top: 10px; margin-left: 73px;">
                    </div>
                    <p class="text-center" style="margin-top: 30px; font-weight: bold; font-size: larger; color: black;">Semur Daging Kecap</p>
                    <div style="text-align: left; color: black;">
                        <br>
                        <p>Bahan:</p>
                        <p>- 500 g daging sandung lamur atau brisket sapi</p>
                        <p>- 3 buah kentang, kupas, potong 4 bagian</p>
                        <p>- 3 butir telur ayam rebus, kupas</p>
                        <p>- 2 lembar daun salam</p>
                        <p>- 2 cm lengkuas</p>
                        <p>- 3 cm kayu manis</p>
                        <p>- 1 buah tomat, cincang</p>
                        <p>- 100 ml kecap manis</p>
                        <p>- 1 sdm kaldu jamur</p>
                        <p>- 1 liter air</p>
                        <br>
                        <p>Bumbu halus:</p>
                        <p>- 7 butir bawang merah</p>
                        <p>- 4 siung bawang putih</p>
                        <p>- 4 butir kemiri</p>
                        <p>- 1/4 butir pala</p>
                        <p>- 1/2 sdt merica butiran</p>
                        <p>- 20 g gula merah</p>
                        <p>- 2 sdt garam</p>
                        <br>
                        <p>Taburan:</p>
                        <p>2 sdm bawang merah goreng</p>
                    </div>
                </div>
                <div class="col" style="width: 30%; height: 1212px; background-color: rgba(255, 216, 125, 0.3); margin-right: 15px; margin-top: 40px; border-radius: 25px;">
                    <div style="height: 210px; background-color: rgba(255, 216, 125, 0.7); border-radius: 25px; margin-left: -15px; margin-right: -15px;">
                        <img src="/static/masakan/rendang.jpg" height="190px" style="margin-top: 10px; margin-left: 86px;">
                    </div>
                    <p class="text-center" style="margin-top: 30px; font-weight: bold; font-size: larger; color: black;">Rendang</p>
                    <div style="text-align: left; color: black;">
                        <br>
                        <p>Bahan:</p>
                        <p>- 1 kg daging sapi</p>
                        <p>- 3 butir kelapa, diambil santan kental dan santan encernya</p>
                        <p>- 4 lembar daun jeruk</p>
                        <p>- 3 batang serai, memarkan</p>
                        <p>- 4 butir asam kandis</p>
                        <p>- 100ml minyak goreng</p>
                        <p>- 5 gram garamBumbu rendang</p>
                        <p>- 60 gram bawang merah</p>
                        <p>- 50 gram bawangputih</p>
                        <p>- 250 gram cabai merah besar</p>
                        <p>- 100 gram lengkuas</p>
                        <p>- 50 gram kemiri</p>
                        <p>- 2 gram cengkeh</p>
                    </div>
                </div>
            </div>
            <div style="margin-left: 1110px; margin-top: 888px;">
                <a href="#header">
                    <img src="/static/up.png" height="40px">
                </a>
            </div>
        </div>
    </div>
    <footer style="background-color: gray; margin-top: 75px; margin-bottom: -10px;">
        <h6 class="text-center" style="font-style: italic; font-size: 11px;">@Built & developed by Ransom Team</h6>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>